In [1]:
tup=4,5,6
tup

(4, 5, 6)

In [2]:
tup=(4,5,6)
tup

(4, 5, 6)

In [3]:
tup=tuple([4,5,6])
tup

(4, 5, 6)

In [3]:
tup=list([4,5,6])
tup

[4, 5, 6]

In [5]:
print("{0}{1}{2}".format(4,5,6))

456

In [4]:
values=1,2,3,4,5,6
a,b,*rest=values
a,b

(1, 2)

In [5]:
a

1

In [6]:
b

2

In [7]:
rest

[3, 4, 5, 6]

In [8]:
a,rest

(1, [3, 4, 5, 6])

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
zipped

In [10]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [12]:
pitchers = [('Nolan', 'Ryan','1'), ('Roger', 'Clemens','2'),('Schilling', 'Curt','3')]
first_names, last_names,a= zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [13]:
a

('1', '2', '3')

In [14]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

In [15]:
reversed(seq)

In [17]:
list(reversed(seq))

[1, 0, 6, 5, 7, 3, 2, 7]

In [20]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[list(tup) for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[[tup] for tup in some_tuples]

[[(1, 2, 3)], [(4, 5, 6)], [(7, 8, 9)]]

In [25]:
tup=(1,2,3)
list(tup)

[1, 2, 3]

In [26]:
tup=(1,2,3)
[tup]

[(1, 2, 3)]

In [36]:
def func():
    a = []
    for i in range(5):
        a.append(i)
    return a

In [37]:
func()

[0, 1, 2, 3, 4]

In [38]:
a = []
def func():
    for i in range(5):
        a.append(i)
    return a

In [39]:
func()

[0, 1, 2, 3, 4]

In [46]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [47]:
f()

(5, 6, 7)

In [48]:
a,b,c=f()

In [49]:
a

5

In [51]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a':a, 'b':b, 'c':c}

In [52]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [82]:
import re
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [83]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']
clean_ops = [str.strip, remove_punctuation, str.title]
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [88]:
map(remove_punctuation, states)

In [89]:
set(map(remove_punctuation, states))

{' Alabama ',
 'FlOrIda',
 'Georgia',
 'West virginia',
 'georgia',
 'south carolina'}

In [90]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [16]:
def squares(n=10):
    for i in range(1,n+1):
        yield i**2

In [4]:
some_dict={'a':1,'b':2,'c':3}
list(iter(some_dict))

['a', 'b', 'c']

In [21]:
a=squares()
a

In [23]:
gen = (x ** 2 for x in range(100))
gen

In [24]:
sum(x**2 for x in range(100))

328350

In [28]:
sum([x**2 for x in range(100)])

328350

In [31]:
import itertools
first_letter=lambda x: x[0]
names=['Wes','Alan','Adam','Will','Albert','Steven']
for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

W ['Wes']
A ['Alan', 'Adam']
W ['Will']
A ['Albert']
S ['Steven']

In [14]:
i=[1,1,0]
list(map(lambda x:1-x,i[::-1]))

[1, 0, 0]

In [12]:
A=[[1,1,0],[1,0,1],[0,0,0]]
for i in A:
    i=list(map(lambda x:1-x,i[::-1]))
print(A)

[[1, 1, 0], [1, 0, 1], [0, 0, 0]]